<p>Recipe List</p>
<div class="row">
  <div class="container flex col-xs-12">
    <app-recipe-item
      *ngFor="let recipe of recipes"
      [recipe]="recipe"
      (click)="onRecipeItemClick(recipe)"
    ></app-recipe-item>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success" (click)="showReceipeInputFields()">
      Add New Recipe
    </button>
  </div>
</div>

<hr />

<div *ngIf="isAddNewRecipeButtonClicked == true">
  <h4>Input the new recipe item !</h4>
  <div>Recipe Name <input type="text" [(ngModel)]="recipeName" /></div>
  <div>
    Recipe Description <input type="text" [(ngModel)]="recipeDescription" />
  </div>
  <div>Recipe Image <input type="text" [(ngModel)]="recipeImage" /></div>

  <div class="button-fields">
    <button class="btn btn-success" (click)="addRecipeItem()">Add</button>
    <button class="btn btn-danger" (click)="showReceipeInputFields()">
      Cancel
    </button>
  </div>
</div>
